
<br><br>
<div class="footer">
    <br>
  
    <div style = "width: 600px; height: 180px; text-align:left;">
        <br>
        &copy; Copyright 2022
        BoutiKline<br>
        Développé par YAMTOINGAR Antoine   
    </div>
    <div style = "width: 600px; height: 180px; text-align:left;">
        <br>
        <h2><u>Nos produits</u></h2>
        <p>&check;&nbsp;Vêtements & Chaussures</p>
        <p>&check;&nbsp;Informatique & Infographie</p>
        <p>&check;&nbsp;Sport & Santé</p>
        <p>&check;&nbsp;Résaux et Télécommunication</p>

    </div>
    <div style = "width: 600px; height: 180px; text-align:left;">
        <br>
        <h2><u>Nos services</u></h2>
        <p>&check;&nbsp;Livraisons</p>
        <p>&check;&nbsp;Installations</p>
        <p>&check;&nbsp;Services après vente</p>
        <p>&check;&nbsp;Reprises</p>
        <p>&check;&nbsp;Conseils</p>
    </div>
    <div style = "width: 600px; height: 180px; text-align:left;">
        <br>
        <h2><u>Nos contacts</u></h2>
        <p>Tél/GSM: +32 (0)4684521</p>
        <p>Email: info@boutikline.com</p>
        <p>Site web: www.boutikline.com</p>         
    </div>
    
        
            
            
</div>

