
<br><br>
<div class="footer">
    <br>
  
    <div style = "width: 600px; height: 180px; text-align:center;">
        <br><br>
        &copy; Copyright 2022
        BoutiKline<br>
        Développé par YAMTOINGAR Antoine   
    </div>
    <div style = "width: 600px; height: 180px; text-align:center;">
        <br><br>
        Premier          
    </div>
    <div style = "width: 600px; height: 180px; text-align:center;">
        <br><br>
        Second         
    </div>
    <div style = "width: 600px; height: 180px; text-align:center;">
        <br><br> 
        troisième         
    </div>
    
        
            
            
</div>

