<br><br>
<div class="titre">
    <br>
    <h2>EDITION DES PROMOTIONS</h2>
</div>
<br>
<div class="conteneur">
    <mat-form-field appearance="fill">
      <mat-label>Libéllé</mat-label>
      <input matInput placeholder="libéllé" [formControl]="Libelle" required>
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">  
        <mat-label>Date début</mat-label>
        <input matInput placeholder="date début" [formControl]="Datedebut" required>
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Date fin</mat-label>
        <input matInput placeholder="date fin" [formControl]="Datefin">
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-flat-button color="primary"><h4>Enregistrer</h4></button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-flat-button color="accent"><h4>Annuler</h4></button>
      <br>
      
  
</div>
<br>
<br>

