   <router-outlet></router-outlet>
   <br>
     <app-carousel></app-carousel>
     <app-bottompventes></app-bottompventes>
    <!-- <mat-card style="background-color: teal; color:aliceblue; text-align:center;">
                
        <mat-card-title></mat-card-title>
    
        <mat-card-content>
             TITRE
        </mat-card-content>
    </mat-card> -->
    <br>
    <br>

        <div id="conteneur">
            
                <mat-card *ngFor = "let prod of  lesproduits" style="width: 400px; height: 250px;">
                    <mat-card-title-group>
                    <mat-card-title>{{prod.nom}}</mat-card-title>
                    <mat-card-subtitle>
                        <br><br>
                        <div class="displayprice">{{prod.prix}} &nbsp;&euro;</div>
                        
                        <!-- <div class="">
                            <button mat-raised-button color><h3>Ajouter</h3></button>
                        </div> -->
                    </mat-card-subtitle>
                    <!-- <a href data-toggle="modal" data-target="#modalDetProduits" (click) = "getProduit(prod.Id)"><img src= "{{(!prod.photo) ? this.boutiqueContainer + 'logo-product.jpg' : this.boutiqueContainer + prod.photo}}" class="card-img-top" alt="..." height="200" width="100"></a> -->

                    <a href (click)="getProduit(prod.id)"><img mat-card-lg-image src="../assets/img/slider/{{prod.id}}.jpg"></a>
                    </mat-card-title-group>
                    <mat-card-content style="background-color: black; color:azure; text-align:center;">
                    {{prod.nom}}
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color ="warn"><h3>Ajouter</h3></button>
                    </mat-card-actions>
                </mat-card>



                
        </div>
        
        <app-footer></app-footer>
  

