
   <br>
     <app-carousel></app-carousel>
     <app-bottompventes></app-bottompventes>
    <!-- <mat-card style="background-color: teal; color:aliceblue; text-align:center;">
                
        <mat-card-title></mat-card-title>
    
        <mat-card-content>
             TITRE
        </mat-card-content>
    </mat-card> -->
    <br>
    <br>

        <div id="conteneur">
            
                <mat-card style="width: 400px; height: 250px;">
                    <mat-card-title-group>
                    <mat-card-title>Chaussure Siev</mat-card-title>
                    <mat-card-subtitle>
                        <br>
                        <div class="displayprice">45,35 &nbsp;&euro;</div>
                        <br>
                        <div class="">
                            <button mat-raised-button color><h3>Ajouter</h3></button>
                        </div>
                    </mat-card-subtitle>
                    <img mat-card-lg-image src="../assets/img/slider/9.jpg" >
                    </mat-card-title-group>
                    <mat-card-content>
                    {{Textechaussure}}
                    </mat-card-content>
                </mat-card>
                <mat-card style="width: 400px; height: 250px;">
                    <mat-card-title-group>
                    <mat-card-title>Toner</mat-card-title>
                    <mat-card-subtitle>
                        <br>
                        <br>
                        <div class="displayprice">35,00 &nbsp;&euro;</div>
                        <br>
                        <div class="">
                            <button mat-raised-button color><h3>Ajouter</h3></button>
                        </div>
                    </mat-card-subtitle>
                    <img mat-card-lg-image src="../assets/img/slider/12.jpg" >
                    </mat-card-title-group>
                    <mat-card-content>
                    {{Textetoner}}
                    </mat-card-content>
                </mat-card>
                <mat-card style="width: 400px; height: 250px;">
                    <mat-card-title-group>
                    <mat-card-title>Toner</mat-card-title>
                    <mat-card-subtitle>
                        <br>
                        <br>
                        <div class="displayprice">57,50 &nbsp;&euro;</div>
                        <br>
                        <div class="">
                            <button mat-raised-button color><h3>Ajouter</h3></button>
                        </div>
                    </mat-card-subtitle>
                    <img mat-card-lg-image src="../assets/img/slider/14.jpg" >
                    </mat-card-title-group>
                    <mat-card-content>
                    {{Textetoner}}
                    </mat-card-content>
                </mat-card>
                <mat-card style="width: 400px; height: 250px;">
                    <mat-card-title-group>
                    <mat-card-title>Toner</mat-card-title>
                    <mat-card-subtitle>
                        <br>
                        <br>
                        <div class="displayprice">28,00 &nbsp;&euro;</div>
                        <br>
                        <div class="">
                            <button mat-raised-button color><h3>Ajouter</h3></button>
                        </div>
                    </mat-card-subtitle>
                    <img mat-card-lg-image src="../assets/img/slider/16.jpg" >
                    </mat-card-title-group>
                    <mat-card-content>
                    {{Textetoner}}
                    </mat-card-content>
                </mat-card>
                <mat-card style="width: 400px; height: 250px;">
                    <mat-card-title-group>
                    <mat-card-title>Toner</mat-card-title>
                    <mat-card-subtitle>
                        <br>
                        <br>
                        <div class="displayprice">35,00 &nbsp;&euro;</div>
                        <br>
                        <div class="">
                            <button mat-raised-button color><h3>Ajouter</h3></button>
                        </div>
                    </mat-card-subtitle>
                    <img mat-card-lg-image src="../assets/img/slider/18.jpg" >
                    </mat-card-title-group>
                    <mat-card-content>
                    {{Textetoner}}
                    </mat-card-content>
                </mat-card>
                <mat-card style="width: 400px; height: 250px;">
                    <mat-card-title-group>
                    <mat-card-title>Chaussure Siev</mat-card-title>
                    <mat-card-subtitle>
                        <br>
                        <br>
                        <div class="displayprice">39,00 &nbsp;&euro;</div>
                        <br>
                        <div class="">
                            <button mat-raised-button color><h3>Ajouter</h3></button>
                        </div>
                    </mat-card-subtitle>
                    <img mat-card-lg-image src="../assets/img/slider/9.jpg" >
                    </mat-card-title-group>
                    <mat-card-content>
                    {{Textechaussure}}
                    </mat-card-content>
                </mat-card>
                <mat-card style="width: 400px; height: 250px;">
                    <mat-card-title-group>
                    <mat-card-title>Chaussure</mat-card-title>
                    <mat-card-subtitle>
                        <br>
                        <br>
                        <div class="displayprice">45,55 &nbsp;&euro;</div>
                        <br>
                        <div class="">
                            <button mat-raised-button color><h3>Ajouter</h3></button>
                        </div>
                    </mat-card-subtitle>
                    <img mat-card-lg-image src="../assets/img/slider/10.jpg" >
                    </mat-card-title-group>
                    <mat-card-content>
                    {{Textechaussure}}
                    </mat-card-content>
                </mat-card>
                <mat-card style="width: 400px; height: 250px;">
                    <mat-card-title-group>
                    <mat-card-title>Cartouche encre</mat-card-title>
                    <mat-card-subtitle>
                        <br>
                        <div class="displayprice">33,86 &nbsp;&euro;</div>
                        <br>
                        <div class="">
                            <button mat-raised-button color><h3>Ajouter</h3></button>
                        </div>
                    </mat-card-subtitle>
                    <img mat-card-lg-image src="../assets/img/slider/19.jpg" >
                    </mat-card-title-group>
                    <mat-card-content>
                    {{Textetoner}}
                    </mat-card-content>
                </mat-card>
        </div>
        
        <app-footer></app-footer>
  

