<div>
            
    <mat-card style="width: 400px; height: 250px;">
        <mat-card-title-group>
        <mat-card-title>{{selectedProduct.nom}}</mat-card-title>
        <mat-card-subtitle>
            <br><br>
            <div class="displayprice">{{selectedProduct.prix}} &nbsp;&euro;</div>
            
            <!-- <div class="">
                <button mat-raised-button color><h3>Ajouter</h3></button>
            </div> -->
        </mat-card-subtitle>
        <img mat-card-lg-image src="../assets/img/slider/{{selectedProduct.id}}.jpg" >
        </mat-card-title-group>
        <mat-card-content style="background-color: black; color:azure; text-align:center;">
        {{selectedProduct.nom}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color ="primary"><h3>Ajouter</h3></button>
            <button mat-raised-button color ="warn"><h3>Quitter</h3></button>
        </mat-card-actions>
    </mat-card>



    
</div>

