<div class="container-panier">
<mat-card class="example-card">
    <mat-card-title class="panier-total">PANIER</mat-card-title>
    <mat-card-content>
       
            <div class="panier">
        
                <div class="panier-header">
                    <span style="width: 100px;font-size: large;">Nom</span>
                    <span style="width: 30px;font-size: large;">Quantité</span>
                    <span style="width: 25px;font-size: large;">Prix</span>
                    <span style="width: 80px;font-size: large;">Montant</span>
                   
                </div>
        
                <div class="panier-row" *ngFor="let produit of produits">
                    <span>{{produit.produitModel.nom}}</span>
                    <div>
                        <a class="button-q" (click)="this.decrease(produit.id)">-</a>
                        <span>{{produit.quantite}}</span>
                        <a class="button-q" (click)="this.add(produit.id)">+</a>
                    </div>
                    <span >{{produit.prix * produit.solde}} €</span>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{produit.prix * produit.solde * produit.quantite}} €</span>
                    <span><button mat-button-raised><mat-icon>delete</mat-icon></button></span>
                </div>
        
                <div class="panier-total">
                    <span>Total</span>
                    <span>{{this.refreshTotalPrix()}}</span>
                </div>
            </div>
       
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions class="panier-total">
      <button class="btn btn--secondary btn--block">CONFIRMER LA COMMANDE</button>
      <button class="btn btn--outline btn--block">ABANDONNER</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>




    

