<h1 mat-dialog-title *ngIf="data.action==='LECTURE'">DETAILS</h1><br>
<div mat-dialog-content *ngIf="data.action==='LECTURE'">
       
       {{this.receivedRow.nom}}<br>
       {{this.receivedRow.prix}}<br>
       {{receivedRow.photo}}<br>
       <img mat-card-lg-image src="../assets/img/slider/{{receivedRow.id}}.jpg" >
       <img mat-card-lg-image [attr.src]="recupererImage()" >
       {{receivedRow.description}}
</div>
<h1 mat-dialog-title *ngIf="data.action==='ECRITURE'">EDIT PRODUIT</h1>

<div mat-dialog-content *ngIf="data.action==='ECRITURE'">
        <form  class="conteneur">
                  <mat-form-field appearance ="outline">
                    <mat-label>Nom</mat-label>
                    <input type="text" formControlName="nom" matInput [(ngModel)]="receivedRow.nom" [attr.value]="receivedRow.nom" required>
                    <!-- <mat-error *ngIf ="this.form.get('Nom').hasError('required')"> ce champ est obligatoire</mat-error> -->
                  </mat-form-field>
                  <mat-form-field appearance ="outline">
                    <mat-label>Prix</mat-label>
                    <input type="number" formControlName="prix" matInput [(ngModel)]="receivedRow.prix" [attr.value]="receivedRow.prix">
                  </mat-form-field>
                  <mat-form-field appearance ="outline">
                    <mat-label>Photo</mat-label>
                    <input type="text" formControlName="photo" matInput [(ngModel)]="receivedRow.photo" [attr.value]="receivedRow.photo">
                  </mat-form-field>
                  <mat-form-field appearance ="outline">
                    <mat-label>Nouveauté</mat-label>
                    <input type="text" formControlName="nouveaute" matInput [(ngModel)]="receivedRow.nouveaute" [attr.value]="receivedRow.nouveaute" required>
                  </mat-form-field>
                  <mat-form-field appearance ="outline">
                    <mat-label>Catégorie</mat-label>
                      <mat-select type="text" formControlName="categorieid" [(ngModel)]="receivedRow.categorieid" [attr.value]="receivedRow.categorieid" required>
                        <mat-option *ngFor="let categorie of listCategories" [value]="categorie.id">
                          {{categorie.libelle}}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance ="outline">
                    <mat-label>Marque</mat-label>
                    <mat-select type="text" formControlName="marqueid" [(ngModel)]="receivedRow.marqueid" [attr.value]="receivedRow.nom" required>
                      <mat-option *ngFor="let marque of listMarques" [value]="marque.id">
                        {{marque.nom}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance ="outline">
                    <mat-label>Description</mat-label>
                    <input type="text" formControlName="description" matInput [(ngModel)]="receivedRow.description" [attr.value]="receivedRow.description" required>
                  </mat-form-field>
                  <mat-form-field appearance ="outline" *ngIf="data.action==='ECRITURE'">
                    <mat-label>Solde-Promo</mat-label>
                    <input type="number" formControlName="soldePromo" matInput [(ngModel)]="receivedRow.soldepromo" [attr.value]="receivedRow.soldepromo">
                  </mat-form-field>
          </form>
</div>
<mat-dialog-actions>
    <button mat-raised-button color = "primary" *ngIf="data.action==='ECRITURE'">Sauver</button>
    <button mat-raised-button color = "accent" mat-dialog-close="true">Fermer</button>
</mat-dialog-actions>



