mat-sidenav-container{
    height: calc(205vh - 115vh);
}

mat-sidenav{
    width: 200px;
    background-color:#eee;
}

.matmenu {
   padding-top: 40px ;
  width: 200px;
  height: 400px;
  display: flex; 
   
}

a {
  font-family:'Courier New', Courier, monospace;
  font-size: 35px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.navbar{
    display: flex;
    justify-content:center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,56,75,0.9416141456582633) 35%, rgba(0,212,255,1) 100%);
    
}

span{
    padding-right: 3rem;
}

.example-button-container {
    
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 200px;
   
  }

  .example-button-row {
    display: table-cell;
    width: 490px;
    
  }

  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .example-full-width {
      background-color: ghostwhite;
      color:black;
      margin-top: 40px;
      margin-bottom: 20px;
      height: 60px;
      width: 100%;
    
  }

  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }

  button{
    display: flex;
    justify-content: center;
    width: 200px;
    padding-top: 15px;
    font-size: 16px;
  }

 /*  mat-sidenav button:hover{
    background-color: crimson;
    color: #eee;
  }
 */
 .btn {
  border-radius: 40px;
  height: 10px;
  border: 0;
  font-size: 1.0rem;
  font-weight:80;
  margin: 0.8rem 0;
  text-transform: uppercase;
  white-space: nowrap;
}
.btn--primary{
  background: dodgerblue;
  color: white;
}
.btn--primary:hover{
  background: rgb(8,123,230);
}
.btn--secondary{
  background: darkturquoise;
  color: white;
}
.btn--secondary:hover{
  background: rgb(2,155,158);
}
.btn--accent{
  background: orangered;
  color: white;
}
.btn--accent:hover{
  background: rgb(192,53,2);
}
.btn--outline{
  background: #fff;
  color: black;
  border: 1px  solid black;
  font-weight:80;
  margin: 0.6rem 0;
}
.btn--outline:hover{
  background: black;
  color: #fff;
  border: 1px  solid black;
}
.btn--block{
  width: 20%;
  display: inline-block;
}
