<div class="">        
    <mat-toolbar>
        <mat-toolbar-row  class="navbar">  
          
  
                    <h4>BOUTIKline</h4>
                  
                    <span></span><span></span><span></span><span></span><span></span><span></span>
                    <span></span><span></span><span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span><a mat-button [routerLink]="'/recherche'"><h5><mat-icon>search</mat-icon>Recherche</h5></a></span>
                    <span><a mat-button [routerLink]="'/panier'"><h5><mat-icon>shopping_basket</mat-icon>Panier</h5></a></span>
                   <!--  <span><div class="example-button-container"><a mat-button style="color:white ;text-decoration: none;" [routerLink]="'/accueil'"><h5><mat-icon>home</mat-icon>Accueil</h5></a></div></span>
                    <span><a mat-button [routerLink]="'/news'"><h5><mat-icon>info</mat-icon>News</h5></a></span>
                    <span><a mat-button [routerLink]="'/promo'"><h5><mat-icon>percentage</mat-icon>Promos</h5></a></span>
                    <span><a mat-button [routerLink]="'/contact'"><h5><mat-icon> contacts</mat-icon>Contact</h5></a></span>
                    <span><a mat-button [routerLink]="'/apropos'"><h5><mat-icon>about_us</mat-icon>A Propos de nous</h5></a></span>
                    <span><a mat-button [routerLink]="'/login'"><h5><mat-icon>account_circle</mat-icon>Se connecter</h5></a></span> -->
        </mat-toolbar-row>     
        <mat-divider [inset]="true"></mat-divider>      
        <mat-toolbar-row  class="navbar">  
          
              <!-- <div class="example-button-container">
                <button mat-mini-fab color="accent" [matMenuTriggerFor]="menu" aria-label="Example icon button with a menu icon">
                  <mat-icon>menu</mat-icon>
                </button>
              </div> -->
          
                   <!-- <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button> -->
                   <button mat-mini-fab color="accent"(click)="opened=!opened"><mat-icon>menu</mat-icon></button>
                    
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    
                    
                    <span><div class="example-button-container"><a mat-button style="color:white ;text-decoration: none;" [routerLink]="'/accueil'"><h5><mat-icon>home</mat-icon>Accueil</h5></a></div></span>
                    <span><a mat-button [routerLink]="'/news'"><h5><mat-icon>info</mat-icon>News</h5></a></span>
                    <span><a mat-button [routerLink]="'/promo'"><h5><mat-icon>percentage</mat-icon>Promos</h5></a></span>
                    <span><a mat-button [routerLink]="'/contact'"><h5><mat-icon> contacts</mat-icon>Contact</h5></a></span>
                    <span><a mat-button [routerLink]="'/apropos'"><h5><mat-icon>about_us</mat-icon>A Propos de nous</h5></a></span>
                    <span *ngIf="!this.role"><a mat-button [routerLink]="'/login'"><h5><mat-icon>account_circle</mat-icon>Se connecter</h5></a></span>
                    <span *ngIf="this.role"><a (click)="logout()" mat-button><h5><mat-icon>account_circle</mat-icon>Logout</h5></a></span>
                    <span><a mat-button [routerLink]="'/signin'"><h5><mat-icon>about_us</mat-icon>s'inscrire</h5></a></span>
 
                    
                    
                
        </mat-toolbar-row>            
    </mat-toolbar>
  </div>
  <!-- essai sidenav-->
  
  <mat-sidenav-container> 
    <mat-sidenav class="mat-sidenav" [(opened)]="opened" mode ="side">
        <button class="btn btn--outline" (click)="gotoProduitClick()">Produits</button> 
        <button class="btn btn--outline" (click)="gotoMarqueClick()">Marques</button>     
        <button class="btn btn--outline" (click)="gotoCategorieClick()">Catégories</button> 
        <button class="btn btn--outline" (click)="gotoPromotionClick()">Promotions</button>    
        <button class="btn btn--outline" (click)="gotoStockClick()">Stocks</button>  
        <button class="btn btn--outline" (click)="gotoGerernewsClick()">Les News</button>  
        <button class="btn btn--outline" (click)="gotoClientClick()">Clients</button> 
        <button class="btn btn--outline" (click)="gotoCommandeClick()">Commandes</button>      
        <button class="btn btn--outline" (click)="gotoFournisseurClick()">Fournisseurs</button> 
        <button class="btn btn--outline" (click)="gotoTransfertstockClick()">Transfert Stocks</button> 
        <button class="btn btn--outline" (click)="gotoFactureClick()">Factures</button>
        <button class="btn btn--outline" (click)="gotoGerantClick()">Gerants</button> 
        <button class="btn btn--outline" (click)="gotoPventeClick()">Points vente</button> 
        <button class="btn btn--outline" (click)="gotoConfigdataClick()">Signalétiques</button> 
     </mat-sidenav>
     <mat-sidenav-content>
         <router-outlet></router-outlet>
     </mat-sidenav-content>
    
  </mat-sidenav-container>




  