

<br><br>

<mat-accordion>
  
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        This is the expansion title
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
     <div class="contentnews">
        
        <div class="item-news">
          <!-- <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" width ="500" height="300"> -->
          <img mat-card-lg-image src="assets/img/slider/11.jpg" width ="500" height="300">
        </div>

        <div class="item-news">
          Currently I amvCurrently I amCurrently I amCurrently I am
          Currently I amCurrently I amCurrently I am
          Currently I amCurrently I amCurrently I amCurrently I am
      </div>
      <div class="item-news">
        Currently I amvCurrently I amCurrently I amCurrently I am
        Currently I amCurrently I amCurrently I am
        Currently I amCurrently I amCurrently I amCurrently I am
     </div>
    </div>
  </mat-expansion-panel>
   <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
     <div class="contentnews">
        
        <div class="item-news">
          <img mat-card-lg-image src="assets/img/slider/14.jpg" width ="500" height="400">
        </div>

        <div class="item-news">
          Currently I amvCurrently I amCurrently I amCurrently I am
          Currently I amCurrently I amCurrently I am
          Currently I amCurrently I amCurrently I amCurrently I am
      </div>
      <div class="item-news">
        Currently I amvCurrently I amCurrently I amCurrently I am
        Currently I amCurrently I amCurrently I am
        Currently I amCurrently I amCurrently I amCurrently I am
     </div>
    </div>
  </mat-expansion-panel>
 
  <mat-expansion-panel (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Self aware panel
</mat-panel-title>
<mat-panel-description>
Currently I am {{panelOpenState ? 'open' : 'closed'}}
</mat-panel-description>
</mat-expansion-panel-header>
<div class="contentnews">

<div class="item-news">
<img mat-card-lg-image src="assets/img/slider/16.jpg" width ="500" height="400">
</div>

<div class="item-news">
Currently I amvCurrently I amCurrently I amCurrently I am
Currently I amCurrently I amCurrently I am
Currently I amCurrently I amCurrently I amCurrently I am
</div>
<div class="item-news">
Currently I amvCurrently I amCurrently I amCurrently I am
Currently I amCurrently I amCurrently I am
Currently I amCurrently I amCurrently I amCurrently I am
</div>
</div>
</mat-expansion-panel>
  
<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
Self aware panel
</mat-panel-title>
<mat-panel-description>
Currently I am {{panelOpenState ? 'open' : 'closed'}}
</mat-panel-description>
</mat-expansion-panel-header>
<div class="contentnews">

<div class="item-news">
<img mat-card-lg-image src="assets/img/slider/18.jpg" width ="500" height="400">
</div>

<div class="item-news">
Currently I amvCurrently I amCurrently I amCurrently I am
Currently I amCurrently I amCurrently I am
Currently I amCurrently I amCurrently I amCurrently I am
</div>
<div class="item-news">
Currently I amvCurrently I amCurrently I amCurrently I am
Currently I amCurrently I amCurrently I am
Currently I amCurrently I amCurrently I amCurrently I am
</div>
</div>
</mat-expansion-panel>
</mat-accordion>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> 
<app-footer></app-footer>