

<br><br>

<mat-accordion>
  
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1><u>NEWS PANEL</u></h1>
      </mat-panel-title>
      <mat-panel-description>
        
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- <p>This is the primary content of the panel.</p> -->
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2><u>{{this.titres[0]}}</u></h2>
      </mat-panel-title>
      <mat-panel-description>
        <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
      </mat-panel-description>
    </mat-expansion-panel-header>
     <div class="contentnews">
        
        <div class="item-news">
          <!-- <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" width ="500" height="300"> -->
          <img mat-card-lg-image src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcTUyJVVudMC-akRzvv_7fv-L1kpCDfdHKvgwlWiFNHshomsqVFhdmZEddpU8voKmzhJHoV17BrKeOWJ7MqOzowf-SK4n9hyOGJf2a4YugXBsjtKaSfswK2rQofQPcMiMFP4hw&usqp=CAc" width ="300" height="300">
        </div>

        <div class="item-news">
              {{this.chaussuresNew.texte1}}
            
      </div>
      <div class="item-news">
            {{this.chaussuresNew.texte2}}
     </div>
    </div>
  </mat-expansion-panel>
   <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2><u>{{this.titres[1]}}</u></h2>
      </mat-panel-title>
      <mat-panel-description>
        <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
      </mat-panel-description>
    </mat-expansion-panel-header>
     <div class="contentnews">
        
        <div class="item-news">
          <img mat-card-lg-image src="https://thumbs.dreamstime.com/z/la-pile-%C3%A9norme-de-collection-boules-sport-embrayent-l-%C3%A9quipement-divers-sports-isol%C3%A9-le-fond-blanc-du-concept-d-isolement-sur-143044712.jpg" width ="500" height="400">
        </div>

        <div class="item-news">
          {{this.sportNew.texte1}}
      </div>
      <div class="item-news">
          {{this.sportNew.texte2}}
     </div>
    </div>
  </mat-expansion-panel>
 
  <mat-expansion-panel (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
  <h2><u>{{this.titres[2]}}</u></h2>
</mat-panel-title>
<mat-panel-description>
<!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
</mat-panel-description>
</mat-expansion-panel-header>
<div class="contentnews">

<div class="item-news">
<img mat-card-lg-image src="https://image.shutterstock.com/image-illustration/stack-laser-printer-cmyk-toners-260nw-1484779127.jpg" width ="500" height="400">
</div>

<div class="item-news">
  {{this.impressionNew.texte1}}
</div>
<div class="item-news">
  {{this.impressionNew.texte2}}
</div>
</div>
</mat-expansion-panel>
  
<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
  <h2><u>{{this.titres[3]}}</u></h2>
</mat-panel-title>
<mat-panel-description>
<!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
</mat-panel-description>
</mat-expansion-panel-header>
<div class="contentnews">

<div class="item-news">
<img mat-card-lg-image src="https://media.istockphoto.com/photos/red-miniature-fridge-picture-id94072222?k=20&m=94072222&s=612x612&w=0&h=RaNGslZx2CKxh7nY0G03zpw4PTTw1Nip3v1lq5UAKis=" width ="500" height="400">
</div>

<div class="item-news">
  {{this.electromenagerNew.texte1}}
</div>
<div class="item-news">
  {{this.electromenagerNew.texte2}}
</div>
</div>
</mat-expansion-panel>
</mat-accordion>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> 
<app-footer></app-footer>