

<br><br>

<mat-accordion>
  
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1><u>NEWS PANEL</u></h1>
      </mat-panel-title>
      <mat-panel-description>
        
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- <p>This is the primary content of the panel.</p> -->
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2><u>{{this.titre[0]}}</u></h2>
      </mat-panel-title>
      <mat-panel-description>
        <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
      </mat-panel-description>
    </mat-expansion-panel-header>
     <div class="contentnews">
        
        <div class="item-news">
          <!-- <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" width ="500" height="300"> -->
          <img mat-card-lg-image src="assets/img/slider/11.jpg" width ="500" height="300">
        </div>

        <div class="item-news">
          Comme vous pouvez le constater cs derniers mois beaucoup de nouvelles marques
          de chaussures sont mises sur le marché et cela fait le bonheur de beaucoup. Ne voulons pas 
          etre les derniers à faire plaisir à nos chers clients, nous avons accueilli les marques de 
          chaussures les plus en vogue et à des prix défiant toute concurrence. Comme nos clients le savent
           très bien, chez nous le rapport qualité/prix est de mise. C'est soit satisfait ou remboursé.
      </div>
      <div class="item-news">
        Depuis le début du mois de Juillet 2022 un large choix de chaussures vous est proposé
        dans nos rayons tout comme en ligne. Partant des marques européennes à celles de l'asie
         ou d'amérique en passant par les marques africaines, vos yeux auront le plaisir de contempler
         ces merveilleuses chaussures aussi jolies les unes que les autres. Vous y trouverez des balérines
         et talons pour femmes ainsi que toutes autres marques pour les hommes.
     </div>
    </div>
  </mat-expansion-panel>
   <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2><u>{{this.titre[1]}}</u></h2>
      </mat-panel-title>
      <mat-panel-description>
        <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
      </mat-panel-description>
    </mat-expansion-panel-header>
     <div class="contentnews">
        
        <div class="item-news">
          <img mat-card-lg-image src="assets/img/slider/14.jpg" width ="500" height="400">
        </div>

        <div class="item-news">
          Currently I amvCurrently I amCurrently I amCurrently I am
          Currently I amCurrently I amCurrently I am
          Currently I amCurrently I amCurrently I amCurrently I am
      </div>
      <div class="item-news">
        Currently I amvCurrently I amCurrently I amCurrently I am
        Currently I amCurrently I amCurrently I am
        Currently I amCurrently I amCurrently I amCurrently I am
     </div>
    </div>
  </mat-expansion-panel>
 
  <mat-expansion-panel (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
  <h2><u>{{this.titre[2]}}</u></h2>
</mat-panel-title>
<mat-panel-description>
<!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
</mat-panel-description>
</mat-expansion-panel-header>
<div class="contentnews">

<div class="item-news">
<img mat-card-lg-image src="assets/img/slider/16.jpg" width ="500" height="400">
</div>

<div class="item-news">
Currently I amvCurrently I amCurrently I amCurrently I am
Currently I amCurrently I amCurrently I am
Currently I amCurrently I amCurrently I amCurrently I am
</div>
<div class="item-news">
Currently I amvCurrently I amCurrently I amCurrently I am
Currently I amCurrently I amCurrently I am
Currently I amCurrently I amCurrently I amCurrently I am
</div>
</div>
</mat-expansion-panel>
  
<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
  <h2><u>{{this.titre[3]}}</u></h2>
</mat-panel-title>
<mat-panel-description>
<!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
</mat-panel-description>
</mat-expansion-panel-header>
<div class="contentnews">

<div class="item-news">
<img mat-card-lg-image src="assets/img/slider/18.jpg" width ="500" height="400">
</div>

<div class="item-news">
Currently I amvCurrently I amCurrently I amCurrently I am
Currently I amCurrently I amCurrently I am
Currently I amCurrently I amCurrently I amCurrently I am
</div>
<div class="item-news">
Currently I amvCurrently I amCurrently I amCurrently I am
Currently I amCurrently I amCurrently I am
Currently I amCurrently I amCurrently I amCurrently I am
</div>
</div>
</mat-expansion-panel>
</mat-accordion>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> 
<app-footer></app-footer>