<router-outlet></router-outlet>

<br><br>
<div class="titre">
    <br>
    <h2>PRODUIT</h2>
</div>
<br>
<div class="conteneur">
        <form [formGroup] = "prodservice.form" class="conteneur">
              <mat-form-field>
                <input formControlName="nom" matInput placeholder="nom">
                <mat-error *ngIf ="prodservice.form.get('nom').hasError('required')"> ce champ est obligatoire</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input formControlName="prix" matInput placeholder="prix">
              </mat-form-field>
              <mat-form-field>
                <input formControlName="photo" matInput placeholder="photo">
              </mat-form-field>
              <mat-form-field>
                <input formControlName="nouveaute" matInput placeholder="nouveaute">
              </mat-form-field>
              <mat-form-field>
                <input formControlName="categorieid" matInput placeholder="categorie">
                <mat-error *ngIf ="prodservice.form.get('categorieid').hasError('required')"> ce champ est obligatoire</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input formControlName="marqueid" matInput placeholder="marque">
                <mat-error *ngIf ="prodservice.form.get('marqueid').hasError('required')"> ce champ est obligatoire</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input formControlName="description" matInput placeholder="description">
              </mat-form-field>

        </form>

        <div></div>
        <div style="margin-left: 700px;">
          <button mat-raised-button color="primary" type = "submit" [disabled] ="prodservice.form.invalid">Submit</button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button mat-raised-button color="warn" (click) = "onClear()">Clear</button>
        </div>

      <!-- <button mat-flat-button color="primary" (click)="this.create();gotoProduitClick()"><h4>Enregistrer</h4></button>
      <button mat-flat-button color="warn" (click)="gotoProduitClick()"><h4>Quitter</h4></button>
 -->
    <!-- <mat-form-field appearance="fill">
      <mat-label>Nom</mat-label>
      <input matInput placeholder="nom" [formControl]="Nom" required>
      
    </mat-form-field>

    <mat-form-field appearance="fill">  
        <mat-label>Prix</mat-label>
        <input matInput placeholder="prix" [formControl]="Prix" required>
       
    </mat-form-field>

    <p>Photo</p>

        <input #imageInput
        type="file"
        accept="image/*"
        (change)="processFile(imageInput)">
        
        <mat-form-field appearance="fill">
            <mat-label>Photo</mat-label>
            <input matInput placeholder="photo" [formControl]="photo" required>
       
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Nouveauté</mat-label>
            <input matInput placeholder="nouveauté ou non?" [formControl]="Nouveaute" required>
       
        </mat-form-field>

      <mat-form-field appearance="fill">
          <mat-label>Catégorie</mat-label>
          <mat-select [(value)]="selectedCategorie">
            <mat-option *ngFor="let categorie of Categories" [value]="categorie.Id">
              {{categorie.libelle}}
            </mat-option>
          </mat-select>
          
      </mat-form-field>

     

      <mat-form-field appearance="fill">
          <mat-label>Marque</mat-label>
          <mat-select [(value)]="selectedMarque">
            <mat-option *ngFor="let marque of Marques" [value]="marque.id">
              {{marque.nom}}
            </mat-option>
          </mat-select>
          
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput placeholder="description" [formControl]="description" required>
   
      </mat-form-field>
      <div></div><div></div>

      <button mat-flat-button color="warn" (click)="this.create();gotoProduitClick()"><h4>Enregistrer</h4></button>
      <button mat-flat-button color="primary" (click)="gotoProduitClick()"><h4>Quitter</h4></button>
     -->  
  
</div>
<br>
<div style="text-align:center;">
    
      
</div>
<br>
