

<h1 mat-dialog-title>PRODUIT</h1>

<div mat-dialog-content>
        <form  class="conteneur">
              
              <mat-form-field appearance ="outline">
                <mat-label>Nom</mat-label>
                <input name="nom" matInput placeholder="nom" required [(ngModel)]="nom">
                <mat-error *ngIf ="this.form.get('Nom').hasError('required')"> ce champ est obligatoire</mat-error>
              </mat-form-field>
              <mat-form-field appearance ="outline">
                <mat-label>Prix</mat-label>
                <input type ="number" name="prix" matInput placeholder="Prix" [(ngModel)]="prix">
              </mat-form-field>

              <div>

                <input
                #imageInput
                type="file"
                accept="image/*"
                (change)="processImage(imageInput)"
              />              </div>


              <mat-form-field appearance ="outline">
                <mat-label>Nouveauté</mat-label >
                <input name="nouveaute" matInput placeholder="Nouveaute" [(ngModel)]="nouveaute">
              </mat-form-field>
              <mat-form-field appearance ="outline">
                <mat-label>Catégorie</mat-label>
                  <mat-select name="categorieId" required [(ngModel)]="categorieId" >
                    <mat-error *ngIf ="this.form.get('CategorieId').hasError('required')"> ce champ est obligatoire</mat-error>
                    <mat-option *ngFor="let categorie of Categories" [value]="categorie.id">
                      {{categorie.libelle}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
              <mat-form-field appearance ="outline">
                <mat-label>Marque</mat-label>
                <mat-select name="marqueId" required [(ngModel)]="marqueId">
                  <mat-option *ngFor="let marque of Marques" [value]="marque.id">
                    {{marque.nom}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf ="this.form.get('MarqueId').hasError('required')"> ce champ est obligatoire</mat-error>
              </mat-form-field>
              <mat-form-field appearance ="outline">
                <mat-label>Description</mat-label>
                <input name="description" matInput placeholder="description" [(ngModel)]="description">
              </mat-form-field>
              
              <mat-form-field appearance ="outline">
                <mat-label>Solde Promo</mat-label>
                <input name="soldePromo" matInput placeholder="soldePromo" [(ngModel)]="soldePromo">
              </mat-form-field>

        </form>
  
</div>


<div mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close mat-dialog-close="true" (click)="enregistrerProduit()" [disabled] ="!this.form.invalid">Enregistrer</button>
  <button mat-raised-button color="warn" (click) = "this.onClear()">Réinitialiser</button>
  <button mat-raised-button color = "accent" mat-dialog-close mat-dialog-close="true">Fermer</button>
</div>
    
    

<br>

