

<h1 mat-dialog-title>PRODUIT</h1>
<br>

<div mat-dialog-content>
        <form [formGroup] = "this.form" class="conteneur">
              <mat-form-field appearance ="outline">
                <mat-label>ID</mat-label>
                <input formControlName="Id" matInput placeholder="id" required>
                
              </mat-form-field>
              <mat-form-field appearance ="outline">
                <mat-label>Nom</mat-label>
                <input formControlName="Nom" matInput placeholder="nom" required>
                <mat-error *ngIf ="this.form.get('Nom').hasError('required')"> ce champ est obligatoire</mat-error>
              </mat-form-field>
              <mat-form-field appearance ="outline">
                <mat-label>Prix</mat-label>
                <input formControlName="Prix" matInput placeholder="Prix">
              </mat-form-field>
              <mat-form-field appearance ="outline">
                <mat-label>Photo></mat-label>
                <input formControlName="Photo" matInput placeholder="Photo">
              </mat-form-field>
              <mat-form-field appearance ="outline">
                <mat-label>Nouveauté</mat-label>
                <input formControlName="Nouveaute" matInput placeholder="Nouveaute">
              </mat-form-field>
              <mat-form-field appearance ="outline">
                <mat-label>Catégorie</mat-label>
                  <mat-select formControlName="CategorieId">
                    <mat-option *ngFor="let categorie of Categories" [value]="categorie.id">
                      {{categorie.libelle}}
                    </mat-option>
                  </mat-select>
                <mat-error *ngIf ="this.form.get('CategorieId').hasError('required')"> ce champ est obligatoire</mat-error>
              </mat-form-field>
              <mat-form-field appearance ="outline">
                <mat-label>Marque</mat-label>
                <mat-select formControlName="MarqueId">
                  <mat-option *ngFor="let marque of Marques" [value]="marque.id">
                    {{marque.nom}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf ="this.form.get('MarqueId').hasError('required')"> ce champ est obligatoire</mat-error>
              </mat-form-field>
              <mat-form-field appearance ="outline">
                <mat-label>Description</mat-label>
                <input formControlName="Description" matInput placeholder="description">
              </mat-form-field>

        </form>
  
</div>


<div mat-dialog-actions>
  <button mat-raised-button color="primary"  (click)="this.create()" [disabled] ="this.form.invalid">Enregistrer</button>
  <button mat-raised-button color="warn" (click) = "this.onClear()">Réinitialiser</button>
  <button mat-raised-button color = "accent" mat-dialog-close mat-dialog-close="true">Fermer</button>
</div>
    
    

<br>

