.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
 .titre{
  margin-left: 50px;
  width: 820px;
  height: 70px;
  border: radius;
  background-color:darkblue;
  font-size: 45; 
  color:aliceblue;
  text-align:center;
 }
  .conteneur{
    width: 1000px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content:space-evenly; 
    color:black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .place-buttons{
    margin-left: 1000px;
    width: 200px;
    display: flex;
   flex-direction: row;
    row-gap: 10px;

  }
  
  .example-form {
      min-width: 250px;
      max-width: 900px;
      width: 100%;
    }

    /*css for loadfiles*/
    .progress-bar {
      padding: 0;
    }
    
    .progress {
      width: 50px;
    }
    
    .mat-input-element {
      font-size: medium;
      font-weight: 200;
    }
    
    #fileInput {
      position: absolute;
      cursor: pointer;
      z-index: 10;
      opacity: 0;
      height: 100%;
      left: 0px;
      top: 0px;
    }

    .mat-form-field {
      width: 100%;
    }
    
    .message {
      background-color: #ddd;
      padding: 15px;
      color: #333;
      border: #aaa solid 1px;
      border-radius: 4px;
      margin: 15px 0;
    }
    
    .preview {
      max-width: 200px;
      vertical-align: middle;
    }
    
    .list-card {
      margin-top: 20px;
    }
    
    .list-item {
      margin-bottom: 20px;
    }
    