.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .titre{
    margin-left: 50px;
    width: 820px;
    height: 70px;
    border: radius;
    background-color:darkblue;
    font-size: 45; 
    color:aliceblue;
    text-align:center;
   }
    .conteneur{
        width: 900px;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        justify-content:space-evenly;
        color:black;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .buttons {
      display: flex;
      flex-direction: row;
    } 

    .place-buttons{
        margin-left: 600px;
        width: 200px;
        display: flex;
       flex-direction: row;
        row-gap: 10px;
    
      }
  .example-form {
      min-width: 250px;
      max-width: 900px;
      width: 100%;
    }