
<br><br>
<div class="titre">
    <br>
    <h2>ENREGISTREMENT MARQUE</h2>
</div>
<br>
<div class="conteneur">
        <form [formGroup] = "marqueservice.form" class="conteneur">
              <mat-form-field>
                <input formControlName="nom" matInput placeholder="nom">
                <mat-error *ngIf ="marqueservice.form.get('nom').hasError('required')"> ce champ est obligatoire</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input formControlName="origine" matInput placeholder="origine">
                <mat-error *ngIf ="marqueservice.form.get('origine').hasError('required')"> ce champ est obligatoire</mat-error>
              </mat-form-field>
             
        </form>  
</div>
<br><br><br>
    <div class="place-buttons">
      <button mat-raised-button color="primary" (clisk)="createMarque()"  mat-dialog-close mat-dialog-close="true" [disabled] ="marqueservice.form.invalid">Créer</button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="warn" (click) = "onClear()">Clear</button> |&nbsp;
      <button mat-raised-button color="warn" mat-dialog-close mat-dialog-close="true">Quitter</button>
    </div>
    
    

<br>

