#conteneur{
    width: 1600px;
    margin-left: 200px;
    display: flex;
    flex-direction:row;
    row-gap: 25px; 
    justify-content:space-around;
    flex-wrap: wrap;
}

.footer{ 
    width: 1900px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: #07325d;
    color:azure;
    
}