<router-outlet></router-outlet><br>
    <mat-card style="height: 300px;background-color:brown; color:aliceblue; text-align:center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                <br><br><br><br>
        <mat-card-title><h1>SOLDES & PROMOTIONS ACTUELLES SUR DIVERSES GAMMES DE PRODUITS</h1></mat-card-title>
    
        <mat-card-content>
             <div class=""><h1>Impression </h1></div>
             <div class=""><h1>Sécurité</h1></div>
             <div class=""><h1>Sport</h1></div>
             <div class=""><h1>Informatique etc</h1></div>
        </mat-card-content>
    </mat-card>
    <br>
    <br>

        <div id="conteneur">
                 
            <mat-card *ngFor = "let prod of  produits" style="width: 400px; height: 250px;">
                <mat-card-title-group>
                    <mat-card-title>{{prod.nom}}</mat-card-title>
                    <mat-card-subtitle>
                        <br><br>
                        <div class="displayprice">
                            <s>{{prod.prix}} &nbsp;&euro;</s>
                            <span>- {{prod.soldePromo}}&nbsp;%</span><br>
                             =>  {{prixPromo(prod.prix,prod.soldePromo)}} &nbsp;&euro;
                             
                        </div>
                        <!-- {{prod.prix - prod.prix*prod.soldePromo/100}} -->
                    </mat-card-subtitle>
                <img  (click)="openDialogDet(prod,'LECTURE')" mat-card-lg-image src= "{{imagesUrl}}/{{prod.photo}}">
                </mat-card-title-group>
                <mat-card-content style="background-color: black; color:azure; text-align:center;">
                {{prod.nom}}
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color ="warn"><h3>Ajouter</h3></button>
                </mat-card-actions>
            </mat-card>


                <!-- 
                    <mat-card-content>
                    {{Textetoner}}
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color ="warn"><h3>Ajouter</h3></button>
                    </mat-card-actions>
                </mat-card>
                <mat-card style="width: 400px; height: 250px;">
                    <mat-card-title-group>
                    <mat-card-title>Toner</mat-card-title>
                    <mat-card-subtitle>
                        <br>
                        <div class="displayprice">
                           <s>60,00 &nbsp;&euro;</s> 
                            -50%<br>
                             => 30 &nbsp;&euro;
                        </div>
                        <br>
                        <div class="">
                            <button mat-raised-button color><h3>Ajouter</h3></button>
                        </div>
                    </mat-card-subtitle>
                    <img mat-card-lg-image src="../assets/img/slider/8.jpg" >
                    </mat-card-title-group>
                    <mat-card-content>
                    {{Textetoner}}
                    </mat-card-content>
                </mat-card>
                <mat-card style="width: 400px; height: 250px;">
                    <mat-card-title-group>
                    <mat-card-title>Toner</mat-card-title>
                    <mat-card-subtitle>
                        <br>
                        <div class="displayprice">
                            <s>50,00 &nbsp;&euro;</s>
                            -50%<br>
                             => 25 &nbsp;&euro;
                        </div>
                        <br>
                        <div class="">
                            <button mat-raised-button color><h3>Ajouter</h3></button>
                        </div>
                    </mat-card-subtitle>
                    <img mat-card-lg-image src="../assets/img/slider/13.jpg" >
                    </mat-card-title-group>
                    <mat-card-content>
                    {{Textetoner}}
                    </mat-card-content>
                </mat-card>
                <mat-card style="width: 400px; height: 250px;">
                    <mat-card-title-group>
                    <mat-card-title>Chaussure</mat-card-title>
                    <mat-card-subtitle>
                        <br>
                        <div class="displayprice">
                            <s>50,00 &nbsp;&euro;</s>
                            -50%<br>
                             => 25 &nbsp;&euro;
                        </div>
                        <br>
                        <div class="">
                            <button mat-raised-button color><h3>Ajouter</h3></button>
                        </div>
                    </mat-card-subtitle>
                    <img mat-card-lg-image src="../assets/img/slider/9.jpg" >
                    </mat-card-title-group>
                    <mat-card-content>
                    {{Textechaussure}}
                    </mat-card-content>
                </mat-card>
                <mat-card style="width: 400px; height: 250px;">
                    <mat-card-title-group>
                    <mat-card-title>Chaussure</mat-card-title>
                    <mat-card-subtitle>
                        <br>
                        <div class="displayprice">
                            <s>50,00 &nbsp;&euro;</s>
                            -50%<br>
                             => 25 &nbsp;&euro;
                        </div>
                        <br>
                        <div class="">
                            <button mat-raised-button color><h3>Ajouter</h3></button>
                        </div>
                    </mat-card-subtitle>
                    <img mat-card-lg-image src="../assets/img/slider/10.jpg" >
                    </mat-card-title-group>
                    <mat-card-content>
                    {{Textechaussure}}
                    </mat-card-content>
                </mat-card>
                <mat-card style="width: 400px; height: 250px;">
                    <mat-card-title-group>
                    <mat-card-title>Chaussure</mat-card-title>
                    <mat-card-subtitle>
                        <br>
                        <div class="displayprice">
                            <s>50,00 &nbsp;&euro;</s>
                            -50%<br>
                             => 25 &nbsp;&euro;
                        </div>
                        <br>
                        <div class="">
                            <button mat-raised-button color><h3>Ajouter</h3></button>
                        </div>
                    </mat-card-subtitle>
                    <img mat-card-lg-image src="../assets/img/slider/7.jpg" >
                    </mat-card-title-group>
                    <mat-card-content>
                    {{Textechaussure}}
                    </mat-card-content>
                </mat-card>
 -->                
                
        </div>

        <app-footer></app-footer>
