

<h1 mat-dialog-title>EDIT PRODUIT</h1>
<br>

<div mat-dialog-content>
        <form [formGroup] = "this.form" class="conteneur">

        </form>

       
           
        

      <!-- <button mat-flat-button color="primary" (click)="this.create();gotoProduitClick()"><h4>Enregistrer</h4></button>
      <button mat-flat-button color="warn" (click)="gotoProduitClick()"><h4>Quitter</h4></button>
 -->
    <!-- <mat-form-field appearance="fill">
      <mat-label>Nom</mat-label>
      <input matInput placeholder="nom" [formControl]="Nom" required>
      
    </mat-form-field>

    <mat-form-field appearance="fill">  
        <mat-label>Prix</mat-label>
        <input matInput placeholder="prix" [formControl]="Prix" required>
       
    </mat-form-field>

    <p>Photo</p>

        <input #imageInput
        type="file"
        accept="image/*"
        (change)="processFile(imageInput)">
        
        <mat-form-field appearance="fill">
            <mat-label>Photo</mat-label>
            <input matInput placeholder="photo" [formControl]="photo" required>
       
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Nouveauté</mat-label>
            <input matInput placeholder="nouveauté ou non?" [formControl]="Nouveaute" required>
       
        </mat-form-field>

      <mat-form-field appearance="fill">
          <mat-label>Catégorie</mat-label>
          <mat-select [(value)]="selectedCategorie">
            <mat-option *ngFor="let categorie of Categories" [value]="categorie.Id">
              {{categorie.libelle}}
            </mat-option>
          </mat-select>
          
      </mat-form-field>

     

      <mat-form-field appearance="fill">
          <mat-label>Marque</mat-label>
          <mat-select [(value)]="selectedMarque">
            <mat-option *ngFor="let marque of Marques" [value]="marque.id">
              {{marque.nom}}
            </mat-option>
          </mat-select>
          
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput placeholder="description" [formControl]="description" required>
   
      </mat-form-field>
      <div></div><div></div>

      <button mat-flat-button color="warn" (click)="this.create();gotoProduitClick()"><h4>Enregistrer</h4></button>
      <button mat-flat-button color="primary" (click)="gotoProduitClick()"><h4>Quitter</h4></button>
     -->  
  
  
</div>



    
    












<!-- <div class="conteneur">
       <mat-form-field appearance="fill">
      <mat-label>Nom</mat-label>
      <input matInput placeholder="nom" [formControl]="nom" required>
      
    </mat-form-field>

    <mat-form-field appearance="fill">  
        <mat-label>Prix</mat-label>
        <input matInput placeholder="prix" [formControl]="Prix" required>
       
    </mat-form-field>

    
        <mat-form-field appearance="fill">
            <mat-label>Photo</mat-label>
            <input matInput placeholder="photo" [formControl]="photo" required>
       
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Nouveauté</mat-label>
            <input matInput placeholder="nouveauté ou non?" [formControl]="nouveaute" required>
       
        </mat-form-field>

      <mat-form-field appearance="fill">
          <mat-label>Catégorie</mat-label>
          <mat-select [(value)]="categorie.id">
            <mat-option *ngFor="let categorie of Categories" [value]="categorie.id">
              {{categorie.libelle}}
            </mat-option>
          </mat-select>
          
      </mat-form-field>

     

      <mat-form-field appearance="fill">
          <mat-label>Marque</mat-label>
          <mat-select [(value)]="selectedMarque">
            <mat-option *ngFor="let marque of Marques" [value]="marque.id">
              {{marque.nom}}
            </mat-option>
          </mat-select>
          
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput placeholder="description" [formControl]="description" required>
   
      </mat-form-field>
    
</div> 
 
    <div class="place-buttons">
      <button mat-raised-button color="primary" (click) = "updateProduit()">Enregistrer</button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="warn" (click) = "gotoProduitClick()">Annuler</button>
    </div>
    -->
  