
<br><br>
<div class="titre">
    <br>
    <h2>EDITION DES MARQUES</h2>
</div>
<br>
<div class="conteneur">
    <mat-form-field appearance="fill">
      <mat-label>Nom</mat-label>
      <input matInput placeholder="nom de la marque" [formControl]="Nom" required>
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>
    
    <mat-form-field appearance="fill">  
        <mat-label>Origine</mat-label>
        <input matInput placeholder="origine" [formControl]="Origine">
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field><br><div></div>
      <div></div><div></div><div></div><div></div>
      <button mat-flat-button color="primary"><h4>Enregistrer</h4></button>
      <button mat-flat-button color="accent"><h4>Annuler</h4></button>
    <br>
    <br>
      
  
</div>
<br>
<br>

