<br><br>

<div class="content-body">
<mat-card>
    <mat-card-content>
        <div class="hedaer">
            <h2>LOGIN</h2>
        </div>
        <!--
        <form (ngSubmit)="onLogin()" name ="loginForm" [FormGroup]="loginForm">
             <div class="email-input">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input FormControlName="email" matinput required/>
                    <mat-error *ngIf = "loginForm.get('email').errors?.required">
                        required email adress
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <span class="aLing">Forgot Password?</span>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input FormControlName="Password" matinput [type]="hide ? 'password': 'text'" required/>
                    <button mat-icon-button matSuffix (click)= "hide = !hide" 
                         [attr.aria-label]="'Hide Password'" [attr.aira-pressed]="hide">
                         <mat-icon>{{ hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf = "loginForm.get('password').errors?.required">
                        required password
                    </mat-error>
                </mat-form-field>
            </div>
            <button mat-flat-button color = "primary">Login</button>
        </form> -->
    </mat-card-content>
</mat-card>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<app-footer></app-footer>
