 <br><br>

<div class="content-body">
<mat-card>
    <mat-card-content>
        <div class="hedaer">
            <h2>CONNEXION</h2>
        </div>
    
        <div appearance="fill">
            <span style="font-size: 20px;">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span><input id="email" [(ngModel)]="email"></span>
        </div> 
          <br>
        <div appearance="fill">
            <span style="font-size: 20px;">Password:&nbsp;</span>
            <input type="password" id="password" [(ngModel)]="password" (keydown.enter)="proceedLogin()">
        </div>
        
    </mat-card-content>
    <div class="buttons">
    <button class="btn btn--primary" (click)="proceedLogin()"><h4>Se connecter</h4></button>
     &nbsp;&nbsp;
    <button class="btn btn--primary" (click)="gotoAccueil()"><h4>Annuler</h4></button>
    </div>
</mat-card>
</div>
<br><br><br><br><br><br><br><br><br><br>
<app-footer></app-footer>


 