<br><br>
<div class="titre">
    <br>
    <h2>EDITION DES GERANTS</h2>
</div>
<br>
<div class="conteneur">
    
    <mat-form-field appearance="fill">
      <mat-label>Catégorie</mat-label>
      <input matInput placeholder="categorie" [formControl]="Categorie" required>
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput placeholder="nom" [formControl]="Nom" required>
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>
      
    <mat-form-field appearance="fill">
        <mat-label>Prénom</mat-label>
        <input matInput placeholder="prenom" [formControl]="Prenom">
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Contact</mat-label>
        <input matInput placeholder="contact" [formControl]= "Contact" required>
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>
    
      <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="email" [formControl]= "Email" required>
          <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field><br>
      
      <button mat-flat-button color="primary"><h4>Enregistrer</h4></button>
      <button mat-flat-button color="accent"><h4>Annuler</h4></button>
      <br>
      
  
</div>
<br>
<br>


