
<br>
   
    <br>

       <div id="conteneur">
            
            <mat-tab-group dynamicHeight>
   
                <mat-tab label="ENTREPRISE">
                  <div class="example-large-box mat-elevation-z4">
                    <div class=""> 
                      <h2 style="font-size: 30px;background-color:black; color:antiquewhite;text-align:left;">QUI SOMMES-NOUS?</h2>
                    <br><br>
                       {{configdata.quisommesnous}}
                    <!-- Boutikline est une société de commerce généraleLarge crée en 2020 dans le but de vendre
                    différents gamme de produits allant de l'électro ménager à l'informatique en passant
                    par l'alimentation, l'habillenement et le sport. vu le succés dès la première année, 
                    elle n'a cessé de grandir en s'implantant un peu partout en Belgique et dans le souci
                     de sa clientèle mais ausside lui donner la possibilité d'acheter à tout moment même sans 
                     se déplacer, elle a mis en ligne ses produits et ses activités pour une grande souplesse 
                     et facilité pour les clients. -->
                  </div>
                  </div>
                  
                </mat-tab>
            
                <mat-tab label="POLITIQUE">
                    <div class="example-large-box mat-elevation-z4">
                      <div class=""> 
                        <h2 style="font-size: 30px;background-color:black; color:antiquewhite;text-align:center;">NOTRE POLITIQUE?</h2>
                      <br><br>
                        {{configdata.notrepolitique}}
                      <!-- Notre politique est de nous rapprocher de plus en plus de la clientèle, beaucoup vendre
                      en donnant la facilité à nos clients où qu'il se trouve en faisant en sorte qu'acheter 
                      soit un plaisir. -->
                      
                    </div>
                    </div>
                </mat-tab>
            
                <mat-tab label="OBJECTIS">
                    <div class="example-large-box mat-elevation-z4">
                      <div class=""> 
                        <h2 style="font-size: 30px;background-color:black; color:antiquewhite;text-align:right;">NOS OBJECTIFS?</h2>
                      <br><br>
                      {{configdata.nosobjectifs}}
                      <!-- Nous travaillons activement à étudier comment atteindre les recoins non encore atteint 
                      afin de toucher une grande part de marché mondial. Rendre facile les transactions avec
                      notre firme, rassurer les clients quand à ce qui concerne les traitements de leurs commandes
                      livraisons, le suivi ainsi que le traitement des litiges et contentieux, choses qui ne
                      manquent pas dans le monde du business. rester le plus accéssible sur le marché et satisfaire
                      nos clients constitue notre priorité car clients contents c'est l'assurance de la croissance
                      d'une entreprise commerciale. -->
                    </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
            
                
        </div>

        
        <app-footer></app-footer>
  
