<router-outlet></router-outlet>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="libelle">
      <th mat-header-cell *matHeaderCellDef> Libéllé </th>
      <td mat-cell *matCellDef="let element"> {{element.libelle}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="datedebut">
      <th mat-header-cell *matHeaderCellDef> Date début </th>
      <td mat-cell *matCellDef="let element"> {{element.datedebut}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="datefin">
      <th mat-header-cell *matHeaderCellDef> Date fin </th>
      <td mat-cell *matCellDef="let element"> {{element.datefin}} </td>
    </ng-container>
  
   s
       <!-- Actions column -->
   
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     
       
     
  </table>
  

